<table>
    <thead>
      <tr>
        <th>Ticket ID</th>
        <th>Customer ID</th>
        <th>Issue Description</th>
        <th>Assigned Agent</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of pagedCustomers">
        <td>{{ ticket.ticketID }}</td>
        <td>{{ ticket.customerID }}</td>
        <td>{{ ticket.issueDescription }}</td>
        <td>{{ ticket.assignedAgent }}</td>
        <td>{{ ticket.status }}</td>
        <td class="actions-cell">
          <button class="action-button update-button" title="Update" [routerLink]="'/pages/services/customer-support/update-ticket/'+ticket.ticketID">
            <i class="fas fa-edit"></i>
          </button>
          <button class="action-button delete-button" title="Delete" (click)="handleDelete(ticket.ticketID!)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="pagination">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
    <button *ngFor="let page of getPages()" (click)="changePage(page)" [class.active]="page === currentPage">{{ page }}</button>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
  </div>

  
