<div class="customer-management-header">
    <div class="btn-container">
    <h2 class="title">Customer Management</h2>
    <div class="addbt">
        <button class="add-btn" routerLink="/pages/services/customer-data-management/add-customer">Add Customer</button>
    </div>
</div>
    <p class="description">View and manage your customer database</p>
        <!-- <div class="actions">
           <input type="text" placeholder="Search customers..." class="search-input" /> -->
            <!-- <button class="filter-button">Filter</button>
            <button class="export-button">Export</button> 
          </div>  -->
  </div>